.fav-badge {
  position: relative;
  cursor: pointer;

  $heart-colour: #C80000;
  $notification-circle-colour: #00e61b;

  $glow-colour: #ff000052;

  & svg:hover {
    border-radius: 100%;
    overflow: visible;
    background-color: $glow-colour;
    box-shadow: 0 0 10px $glow-colour;
  }

  circle {
    fill: $notification-circle-colour;
    stroke: $notification-circle-colour;
    
  }

  & path {
    fill: $heart-colour;

    &:hover {
      stroke: $heart-colour;
      fill: $heart-colour;

    }

  }
}

.fav-badge__count { 
background-color: rgb(0, 0, 0);
width: 20px;
height: 20px;
  border-radius: 99px;
  position: absolute;
  top: 0%;
  right: 0%;
  left: 70%;
  bottom: 60%;

  span {
    text-align: center;
    color: white;
    width: 100%;
    font-weight: 500;
    position: absolute;
    font-size: 16px;
  }
}